@import "./config-scss/reset.scss";
@import "./config-scss/variables.scss";
@import "./config-scss/rem-calc.scss";
@import "./config-scss/animation.scss";

html {
    font-family: Roboto;
    background: var(--primary-color);
}

main {
    max-width: rem-calc(600);
    margin: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
